body {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  font-size: calc(10px + 2vmin);
  line-height: 130%;
  font-weight: 400;
  cursor: url("../public/cursor.png") 15 15, auto;
  margin: 0;
  height: 100%;
  white-space: normal;
}

body:active {
  cursor: url("../public/cursor4.png") 12 12, auto;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .logo-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App .logo {
  font-size: calc(50px + 2vmin);
  font-weight: 800;
  width: auto;
}
.App .dot {
  font-size: calc(80px + 2vmin);
  margin: 30px 20px 0px 20px;
}

.App .instructions {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  font-size: calc(10px + 2vmin);
  line-height: 130%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .main-container {
  margin-top: 30px;
}

.App .daily-container {
  min-height: 50vh;
  width: 70vw;
  background-color: rgb(115, 95, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: white;
}
.daily-container .question-option {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.App .question-date {
  font-size: calc(10px + 0.5vmin);
  align-self: flex-end;
  margin: 5px 5px 0px 0px;
}

.App .daily-option {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-self: flex-end;
}
